<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abdullah Ahmed</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/CSS/styles.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
    <section class="top_container">
        <div class="container-fluid" id="navigation">
            <nav class="navbar navbar-expand-lg top_container">
                <div class="container-fluid">
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse top_container" id="navbarTogglerDemo02">

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#skills">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#projects">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://drive.google.com/drive/folders/12WX0dZ_3x7ovy6Fk8KKhfOVlwQr2Bqsl?usp=sharing"
                                    target=”_blank”>Downloads</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#footer">Contact</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>


        <div class="container-fluid">
            <div class="row top_container">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-6 col-md-6"></div>
                <div class="col-lg-1 col-md-1 ">
                    <img class="top_cloud" src="static/Images/cloud.png" alt="cloud-img">
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>

            <div class="row top_container">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-6 col-md-6">
                    <h1><em>I'm Abdullah</em></h1>
                    <h2 id="prog">A Robotics enthusiast</h2>
                </div>
                <div class="col-lg-3 col-md-3"></div>
            </div>

            <div class="row top_container d-sm">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-1 col-md-1">
                    <img class="bottom_cloud" src="static/Images/cloud.png" alt="cloud-img">
                </div>
                <div class="col-lg-6 col-md-6"></div>
                <div class="col-lg-3 col-md-3"></div>
            </div>
            <div class="row top_container">
                <div class="col-lg-3 col-md-2 "></div>
                <div class="col-lg-6 col-md-8">
                    <img class="mount_img" src="static/Images/mountain.png" alt="mountain-img" width="200">
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- <div class="middle-container"> -->
    <div class="profile">
        <img class="profile-pic" src="static/Images/robot.png" alt="">
        <h2>Hello</h2>
        <p>Explorer. A Python developer and robotics enthusiast, currently obsessed with web development. Over time I
            have expanded upon my skills and created more than 60 projects. Here on this website, I have mentioned my
            skills and a few of my best projects. I am a huge fan of emerging technologies and love to listen to
            podcasts. I am looking forward to becoming an entrepreneur by going towards start-ups.</p>
    </div>

    <hr>

    <!-- Skills bos for large and medium screens -->
    <h2 id="skills">My Skills</h2>

    <div class="skill_box_md container-fluid">

        <div class="row row_left" id="top_row">
            <div class="col-lg-2 col-md-1 col-sm-"></div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_left" src="static/Images/processor.png" alt="">
            </div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>Design and Development</h3>
                <p>I started learning to code when I was 16 years old because I wanted to make my apps and games. Over
                    time, I have gained experience developing desktop apps and have progressed toward web development. I
                    also have outstanding skills in Electronics and Digital Logic Design.</p>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_right">
            <div class="col-lg-2 col-md-1"></div>

            <div class="col-lg-6 col-md-7 skill_text">
                <h3> Web Development using HTML 5</h3>
                <p>I have recently learned to create web pages using HTML. I learned it while interning at Alpha
                    College. This website is my 3rd project with it, based on only five days of learning.</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_right" src="static/Images/html.png" alt="HTML">
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_left">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_left" src="static/Images/css (2).png" alt="CSS 3">
            </div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>CSS 3 and Bootstrap</h3>
                <p>This website is built entirely on Bootstrap 5.2, a CSS framework. It makes development faster using
                    its grid system and pre-styled HTML elements.</p>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_right">
            <div class="col-lg-2 col-md-1 "></div>
            <div class="col-lg-6 col-md-7 skill_text ">
                <h3>Python</h3>
                <p>Python is my favourite programming language and I love it because of its simplicity and powerful
                    libraries. I've used it for automating some of my tasks, creating games and practical software
                    applications.</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_right" src="static/Images/python.png" alt="">
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_left">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_left" src="static/Images/database.png" alt="SQL Database">
            </div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>SQL</h3>
                <p>I have implemented databases for some of my python programs using SQLite. I first learned it in my
                    A-level Computer Science course and can write basic queries with it.</p>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_right">
            <div class="col-lg-2 col-md-1"></div>

            <div class="col-lg-6 col-md-7 skill_text">
                <h3>C++</h3>
                <p>I have used C++ mainly to program Arduino boards and to learn Data Structures and Algoritms.</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_right" src="static/Images/c-.png" alt="C++ ">
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_left">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-2 col-md-3">
                <img id="arduino-pic" src="static/Images/arduino.png" alt="Processor">
            </div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>Robotics and Automation using Arduino</h3>
                <p>Arduino Uno is my go-to choice for creating small-scale and less complex systems. I have built loads
                    of projects with it by following tutorials and now I design my projects from scratch and upload them
                    on Arduino forums. This board is sufficiently fast to perform most of the automation and robotics
                    projects and comes with many built-in features.</p>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_right">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>Advanced Automation using Raspberry Pi</h3>
                <p>Raspberry Pi is perfect for including wireless communication, sending an email or Whatsapp messages.
                    It also allows a system to run at many faster speeds, use multithreading and perform more complex
                    procedures like graphics processing or machine learning. Under the projects section, you will find a
                    device I have created which can measure the amount of water remaining in a water tank.</p>
            </div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_right" src="static/Images/raspberry-pi.png" alt="Processor">
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>

        <div class="row mid_row row_left">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-2 col-md-3">
                <img class="pic_left" src="static/Images/basketball.png" alt="">
            </div>
            <div class="col-lg-6 col-md-7 skill_text">
                <h3>Basketball</h3>
                <p>Basketball is my favourite sport, rarely a day goes by where I havent played basketball.</p>
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>


    </div>

    <!-- Skill box for small screen -->

    <div class="skill_box_sm container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/processor.png" alt="">
                    <h3>Design and Development</h3>
                    <p>I started learning to code when I was 16 years old because I wanted to make my apps and games.
                        Over
                        time, I have gained experience developing desktop apps and have progressed toward web
                        development. I
                        also have outstanding skills in Electronics and Digital Logic Design.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/html.png" alt="">
                    <h3> Web Development using HTML 5</h3>
                    <p>I have recently learned to create web pages using HTML. I learned it while interning at Alpha
                        College. This website is my 3rd project with it, based on only five days of learning.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/css (2).png" alt="">
                    <h3>CSS 3 and Bootstrap</h3>
                    <p>The styling of this website is made entirely on Bootstrap 5.2, a CSS framework. It makes
                        development faster using
                        its grid system and pre-styled HTML elements.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/python.png" alt="">
                    <h3>Python</h3>
                    <p>Python is my favourite programming language and I love it because of its simplicity and powerful
                        libraries. I've used it for automating some of my tasks, creating games and practical software
                        applications.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/database.png" alt="">
                    <h3>SQL</h3>
                    <p>I have implemented databases for some of my python programs using SQLite. I first learned it in
                        my
                        A-level Computer Science course and can write basic queries with it.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/c-.png" alt="">
                    <h3>C++</h3>
                    <p>I have used C++ mainly to program Arduino boards and to learn Data Structures and Algoritms.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/arduino.png" alt="">
                    <h3>Robotics and Automation using Arduino</h3>
                    <p>Arduino Uno is my go-to choice for creating small-scale and less complex systems. I have built
                        loads
                        of projects with it by following tutorials and now I design my projects from scratch and upload
                        them
                        on Arduino forums. This board is sufficiently fast to perform most of the automation and
                        robotics
                        projects and comes with many built-in features.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/raspberry-pi.png" alt="">
                    <h3>Advanced Automation using Raspberry Pi</h3>
                    <p>Raspberry Pi is perfect for including wireless communication, sending an email or Whatsapp
                        messages.
                        It also allows a system to run at many faster speeds, use multithreading and perform more
                        complex
                        procedures like graphics processing or machine learning. Under the projects section, you will
                        find a
                        device I have created which can measure the amount of water remaining in a water tank.</p>
                </div>

                <div class="skill_box col-lg-4">
                    <img class="skill_pic" src="static/Images/basketball.png" alt="">
                    <h3>Basketball</h3>
                    <p>Basketball is my favourite sport, rarely a day goes by where I havent played basketball.</p>
                </div>
            </div>



        </div>
    </div>
    <hr>

    <!-- projects -->
    <section class="white-section" id="projects">

        <div class="container-fluid">
            <h2 class="project_title">My Projects</h2>
            <div id="project_text">
                <p>This website is under development, many of the view projects buttons have been disabled. The project
                    files including the source code for these projects will be available in a few days. <a
                        href="https://drive.google.com/drive/folders/12WX0dZ_3x7ovy6Fk8KKhfOVlwQr2Bqsl?usp=sharing"
                        target="_blank">Click here</a> to
                    view all project files which are currently available.</p>
            </div>
            <div class="row">

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img src="static/Images/smart-farm.png" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Automated plant irrigation System</h5>
                            <p class="card-text">Has 2 states, one where it works automaticallly on its own by sensing
                                the soil moisture of a flowerpot or can be controlled using a mobile app via
                                bluetooth.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/robot (4).png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Obstacle avoiding car</h5>
                            <p class="card-text">This car detetcs distance of any obstacle in front of it through the
                                use of an ultra sonic sensor, namely the HC-SR04. If it is less than a certain distance
                                the car changes direction changes directon.</p>
                            </p>
                            <a href="https://drive.google.com/drive/folders/1mKQTPQQojmfWiWlv1IVUtRQPtx200R7m?usp=sharing"
                                target=”_blank” class="btn btn-primary project-btn">View Project</a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/quiz.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">GUI Quiz App with Api using Python</h5>
                            <p class="card-text">Every time this app is opened, tem new questions are fetched from the
                                internet and the user has to answer each of these one by one. I am currently working on
                                making it compatible with a system of Arduino buzzers to setup a trivia competition.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/dustbin.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Smart Dustbin</h5>
                            <p class="card-text">This smart Dustbin opens up whenver a person gets nearby. It uses an
                                ultrasonic sensor namely the HC-SR-04, to sense the distance between it and the person
                                in front of it.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/rfid.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Door lock with RFID authentication for Ark Lab</h5>
                            <p class="card-text">This Door lock uses an electromagnet to keep the door closed. whenever
                                one of the valid RFID tags is touched onto the RFID module, The supply to the
                                electromagnet is cut off for a few seconds and the door opens up. This system ensures
                                only the ARK Core team can access the Lab.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/robot (3).png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Bluetooth controlled Car with a crane system</h5>
                            <p class="card-text">This car can lift around half a kilogram from the floor using a clamp
                                mounted on a crane system on top of the car. The car is controlled using a mobile app
                                via bluetooth.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/snake.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Classic Nokia Snake game</h5>
                            <p class="card-text">This is the game which made my childhood. Recreating this game was fun
                                but not easy at all. Made using Python's turtle module</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/message (1).png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Automated Birthday Wisher</h5>
                            <p class="card-text">This python script runs every night at 12:01 am to check if any of my
                                friends have their birthday today, if yes then it sends an email wishing them happy
                                birthday. This script is currently hosted on the <a
                                    href="https://www.pythonanywhere.com/">Python Anywhere website</a> </p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/ping-pong.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2 Player classic Ping Pong Game</h5>
                            <p class="card-text">This 2 player game, doesnt need an introduction, all of us played it at
                                some point. </p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/programming.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Instagram Follower Bot</h5>
                            <p class="card-text">This python program is for small businesses and startups or even an
                                aspiring content creator. The idea is to look for a an Instagram page which has the same
                                niche (the type of content we upload on our page) as our Instagram page. The people who
                                follow that page will be the people who are interested in that type of content. So
                                following the folllowers of such a page means there are high chances they will follow us
                                back therefore increasing our reach.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/water-tank.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Water Depth measuring device for a water tank</h5>
                            <p class="card-text">This project was based on the Raspberry Pi, which can be setup on top
                                of an underground water storage or any water tank which has a max depth
                                of 13 feet. It measures the ammount of water remaining and emails the owner when the
                                water level gets way too low. This was according to the demand of the client, so they
                                can order a water tank for their house because they live in an area with an unreliable
                                water supply line.</p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

                <div class="project_box col-lg-4 ">
                    <div class="card h-100">
                        <img class="card-img-top" src="static/Images/password.png" alt="">
                        <div class="card-body">
                            <h5 class="card-title">GUI Password Manager app using Python</h5>
                            <p class="card-text">When creating a new account on a website, a user can chose to save it
                                on this app. To recall the login details the user can search for the website name on the
                                app. The username and password will then be displayed on a pop up. The app also features
                                a password generator which generates an almost unhackable password. There is also an
                                experimental feature, when used, the app opens the browser and automatically enters all
                                the credentials and lets the user proceed onto the website. This feature is only
                                available for popular websites like Instagram. </p>
                            <a href="#"><button type="button" target=”_blank” class="btn btn-primary project-btn"
                                    disabled>View Project</button></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <hr>
    <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>If you want to catch up with me</h3>
        <p class="contact-message"></p>
        <a class="btn btn-primary" href="mailto:abdullahahmed2004@email.com">CONTACT ME</a>
    </div>
    <!-- </div> -->

    <footer id="footer">
        <div class="bottom-container">
            <div class="container-fluid">
                <i class="social-icon fab fa-facebook-f"></i>
                <i class="social-icon fab fa-twitter"></i>
                <i class="social-icon fab fa-instagram"></i>
                <i class="social-icon fas fa-envelope"></i>
                <p>© Copyright 2022 Abdullah Ahmed</p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    </footer>
</body>

</html>